video(autoplay='', loop='', muted='')
  //source(src='/images/videobg.webm', type='video/webm')
  //source(src='/images/videobg.mp4', type='video/mp4')
  //source(src='/images/videobg.ogv', type='video/ogg')
.video-content
  img(height= '200', src='images/ETH_FACET.png')
  p
  div.ethereum-logo
    h2 ethereum
  div.squr
  img(src='images/squr.png')

