video(autoplay='', loop='', muted='')
  source(src='/images/Render_1-desktop.mp4', type='video/mp4')
  source(src='/images/Render_1-desktop.webm', type='video/webm')
.video-content
  img(height= '200', src='images/ETHER_FACET.png')
  p
  h2 ethereum
  //-iframe(width='450', height='250', src='//www.youtube.com/embed/q5FDvzj8YX4?wmode=opaque', frameborder='0', allowfullscreen='')
  //iframe(src='//player.vimeo.com/video/87131363?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0',width='500',height='281',frameborder='0',webkitallowfullscreen=true,mozallowfullscreen=true,allowfullscreen=true)
