title ethereum
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel="shortcut icon",href="favicon.ico")
// STYLES
link(rel="stylesheet", href="/linker/styles/bootstrap.min.css")
link(rel="stylesheet", href="/linker/styles/bootstrap-theme.min.css")
link(rel="stylesheet", href="/linker/styles/font-awesome.min.css")
link(rel="stylesheet", href="/linker/styles/roboto.css")
link(rel="stylesheet", href="/linker/styles/style.css")
// STYLES END
// SCRIPTS
script(type="text/javascript", src="/linker/js/jquery-2.1.0.min.js")
script(type="text/javascript", src="/linker/js/bootstrap.min.js")
script(type="text/javascript", src="/linker/js/main.js")
// SCRIPTS END
