h2 How
:markdown
  Contracts are the main building block of Ethereum.
  A contract is like a computer program that lives inside the Ethereum network and has its own ether balance, memory and code.
  Every time you send a transaction to a contract, the contract executes its code, which can store data, send transactions and even interact with other contracts.
  You can use contracts to issue currencies, construct your own escrow contracts or financial derivatives, and even create on-blockchain data stores.
  Thanks to Turing-completeness, Ethereum contracts let you create self-enforcing smart contracts with any conditions that can be mathematically defined.
  You can find out more in [the whitepaper](https://github.com/ethereum/wiki/wiki/%5BEnglish%5D-White-Paper).
