div.text-center.col-xs-12.col-sm-7.col-md-6
  //- img(src='images/round.png')
  div.button-previous
    button.paging.prev(type='button')
      i.fa.fa-fw.fa-angle-left.fa-3x
  div#content-circle
    span
      i.fa.fa-fw.fa-money.fa-8x
      p Create a Currency
    span
      i.fa.fa-fw.fa-briefcase.fa-8x
      p Savings Wallet
    span
      i.fa.fa-fw.fa-sitemap.fa-8x
      p Financial Derivatives
    span
      i.fa.fa-fw.fa-asterisk.fa-8x
      p Decentralized Organizations
    span
      i.fa.fa-fw.fa-pencil-square-o.fa-8x
      p Name Registration
    span
      i.fa.fa-fw.fa-lock.fa-8x
      p Data storage
  button.paging.next(type='button')
    i.fa.fa-fw.fa-angle-right.fa-3x


div#what-make.col-xs-12.col-sm-5.col-md-6
  h2 What can you make out of ether?
  :markdown
    Contracts are the main building block of Ethereum.
    A contract is like a computer program that lives inside the Ethereum network and has its own ether balance, memory and code.
    Every time you send a transaction to a contract, the contract executes its code, which can store data, send transactions and even interact with other contracts.
    You can use contracts to issue currencies, construct your own escrow contracts or financial derivatives, and even create on-blockchain data stores.
    Thanks to Turing-completeness, Ethereum contracts let you create self-enforcing smart contracts with any conditions that can be mathematically defined.
    You can find out more in [the whitepaper](https://github.com/ethereum/wiki/wiki/%5BEnglish%5D-White-Paper).

div#apps-examples.text-center
  h4
    strong open source, one click app install.
  p.apps
    span.sr-only law, cloud storage, prediction markets, trading, decentralized hosting, your own currency, make your own, html5, css3, js
  p.hr.reference-clients Mobile &amp; desktop reference clients.
  p.hr Turing complete contracts on a blockhain.
  p
    img(src='/images/flexible-implementations.png', alt="C++ Go Python")
    p flexible implementations.
