div#interactive-top.text-center
  h3 the only limit is your imagination

div#interactive-left.pull-left.col-xs-6
  img(src='images/graph.png')

div#interactive-right.pull-left.col-xs-6
  img(src='images/graph.png')
 
div.mailchimp.text-center
  include mailchimp
