div#interactive-top.text-center
  h4 A better way to write and distribute applications
  //- h3 PoC version_003 now available! 
  //-   a.scroll(href='#news') download here

//div#countdown.interactive-middle.container.text-center.nowrap
 
div.mailchimp.text-center
  include mailchimp
