div#interactive-top.text-center
  h4 the only limit is your imagination
  h5 proof of concept build 3 releases in

div#countdown.interactive-middle.container.text-center.nowrap
 
div.mailchimp.text-center
  include mailchimp
