div#interactive-top.text-center
  h4 the only limit is your imagination
  h3 PoC version_003 now available! 
    a.scroll(href='#news') download here

//div#countdown.interactive-middle.container.text-center.nowrap
 
div.mailchimp.text-center
  include mailchimp
