div#interactive-top.text-center
  h3 the only limit is your imagination
  h4 purchase ether countdown

div#countdown.interactive-middle.container.text-center
 
div.mailchimp.text-center
  include mailchimp
