h2 Join
:markdown
  [Interested in joining a holon?](#)
  Or find a [local Ethereum meetup group](http://www.meetup.com).
  
  You can also be part of our community by editing our [wiki](https://wiki.ethereum.org), reading our [blog](http://blog.ethereum.org), joining the [forums](http://forum.ethereum.org).
