h2 ethereum meetups
  p
  img(src='/images/map.png', width='800', height='402', alt='meetupmap', usemap='#meetupmap')
map#meetupmap(name='meetupmap') 
  area(shape='circle', coords='195,134,32', href='http://www.meetup.com/Bitcoin-Toronto/', title='Toronto', alt='Toronto')
  area(shape='circle', coords='398,130,32', href='http://www.meetup.com/ethereum/', title='Zug', alt='Zug')
  area(shape='circle', coords='633,145,32', href='http://www.meetup.com', title='Beijing', alt='Beijing')
  area(shape='circle', coords='715,325,32', href='http://www.meetup.com/Ethereum-Tokyo-Meetup/', title='Sydney', alt='Sydney')
:markdown
  Find a [local Ethereum meetup group](http://www.meetup.com).
  
  You can also be part of our community by editing our [wiki](https://wiki.ethereum.org), reading our [blog](http://blog.ethereum.org), joining the [forums](http://forum.ethereum.org).
