h2 ethereum meetups
  p
  img(src='/images/map.png', width='800', height='402', alt='meetupmap', usemap='#meetupmap')
map#meetupmap(name='meetupmap') 
  area(shape='circle', coords='195,134,32', href='http://www.meetup.com/Bitcoin-Toronto/', title='Toronto', alt='Toronto')
  area(shape='circle', coords='398,130,32', href='http://www.meetup.com/ethereum/', title='Zug', alt='Zug')
  area(shape='circle', coords='633,145,32', href='http://www.meetup.com/ethereum/', title='Beijing', alt='Beijing')
  area(shape='circle', coords='715,325,32', href='http://www.meetup.com/ethereum/', title='Sydney', alt='Sydney')
:markdown
  Meet developers and entrepreneurs at one of our [meetups](http://ethereum.meetup.com)

  You can also find answers to your questions on our [forums](http://forum.ethereum.org), [wiki](https://wiki.ethereum.org), or [blog](http://blog.ethereum.org)

div.mailchimp.text-center
  include mailchimp
