h2 Meetups
  p
  img(src='/images/map.png', width='800px', height='402px', alt='meetupmap', usemap='#meetupmap')
map(name='meetupmap')
  area(shape='circle', coords='155,140,30', href='http://www.meetup.com/Bitcoin-Toronto/', alt='Toronto')
  area(shape='circle', coords='385,140,30', href='http://www.meetup.com/ethereum/', alt='London')
  area(shape='circle', coords='425,245,30', href='http://www.meetup.com/Ethereum-Tokyo-Meetup/', alt='Tokyo')
  area(shape='circle', coords='595,170,30', href='http://ethereum.meetup.com/', alt='Congo')

:markdown
  Find a [local Ethereum meetup group](http://www.meetup.com).
  
  You can also be part of our community by editing our [wiki](https://wiki.ethereum.org), reading our [blog](http://blog.ethereum.org), joining the [forums](http://forum.ethereum.org).
