nav.pull-right.text-right(role='navigation')
  ul.nav.navbar-nav
    li
      a(href='#news') News
    li
      a(href='#what') What
    li
      a(href='#why') Why
    li
      a(href='#how') How
    li
      a(href='#who') Who
    li
      a(href='#join') Join
    li
      a(href='https://wiki.ethereum.org') Wiki
    li
      a(href='http://blog.ethereum.org') Blog
    li
      a(href='http://forum.ethereum.org') Forum