div#news-left.pull-left.col-xs-12.col-md-8
  div.news-top
    div.news-top-left.pull-left.text-left.col-xs-4.col-sm-6.col-md-6
      h2 media
    div.news-top-right.pull-right.text-muted.container.text-right.col-xs-8.col-sm-6.col-md-6
      ul.list-inline
         li
           a(href='https://www.facebook.com/ethereumproject',title='Facebook')
             i.fa.fa-facebook.fa-2x.news-icon
         li
           a(href='https://www.twitter.com/ethereumproject',title='Twitter')
             i.fa.fa-twitter.fa-2x.news-icon
         li
           a(href='https://plus.google.com/+EthereumOrgOfficial/posts',title='Google Plus')
             i.fa.fa-google-plus.fa-2x.news-icon
         li
           a(href='https://vimeo.com/ethereumproject',title='Vimeo')
             i.fa.fa-vimeo-square.fa-2x.news-icon
         li
           a(href='https://www.youtube.com/user/ethereumproject',title='YouTube')
             i.fa.fa-youtube-play.fa-2x.news-icon
         li.news-icon-last
           a(href='mailto:info@ethereum.org',title='Email')
             i.fa.fa-envelope.fa-2x.news-icon-last

  div.news-bottom

      #news-slider.liquid-slider
        div.video-responsive
          h2.title Introduction
          p
            iframe(src='//player.vimeo.com/video/87131363?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0',width='700',height='394',frameborder='0',webkitallowfullscreen=true,mozallowfullscreen=true,allowfullscreen=true)

        div
          h2.title Twitter
          p
            include twitter.html
//        div
//          h2.title Slide 3
//          p
//            | Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas&period; Vestibulum tortor quam&comma; feugiat vitae&comma; ultricies eget&comma; tempor sit amet&comma; ante&period; Donec eu libero sit amet quam egestas semper&period; Aenean ultricies mi vitae est&period; Mauris placerat eleifend leo&period; Quisque sit amet est et sapien ullamcorper pharetra&period; Vestibulum erat wisi&comma; condimentum sed&comma; commodo vitae&comma; ornare sit amet&comma; wisi&period; Aenean fermentum&comma; elit eget tincidunt condimentum&comma; eros ipsum rutrum orci&comma; sagittis tempus lacus enim ac dui&period; Donec non enim in turpis pulvinar facilisis&period; Ut felis&period; Praesent dapibus&comma; neque id cursus faucibus&comma; tortor neque egestas augue&comma; eu vulputate magna eros eu erat&period; Aliquam erat volutpat&period; Nam dui mi&comma; tincidunt quis&comma; accumsan porttitor&comma; facilisis luctus&comma; metus
//        div
//          h2.title Slide 4
//          p
//            | Proin nec turpis eget dolor dictum lacinia&period; Nullam nunc magna&comma; tincidunt eu porta in&comma; faucibus sed magna&period; Suspendisse laoreet ornare ullamcorper&period; Nulla in tortor nibh&period; Pellentesque sed est vitae odio vestibulum aliquet in nec leo&period;
//          p
//            | Lorem ipsum dolor sit amet&comma; consectetur adipiscing elit&period; Maecenas metus nulla&comma; commodo a sodales sed&comma; dignissim pretium nunc&period; Nam et lacus neque&period; Sed volutpat ante id mauris laoreet vestibulum&period; Nam blandit felis non neque cursus aliquet&period; Morbi vel enim dignissim massa dignissim commodo vitae quis tellus&period; Nunc non mollis nulla&period; Sed consectetur elit id mi consectetur bibendum&period; Ut enim massa&comma; sodales tempor convallis et&comma; iaculis ac massa&period; Etiam suscipit nisl eget lorem pellentesque quis iaculis mi mattis&period; Aliquam sit amet purus lectus&period; Maecenas tempor ornare sollicitudin&period;

div#news-right.pull-right.col-xs-12.col-md-4
  h2 download
  :markdown
    Proof of concept client #3

  div.dl-box
    div.dl-row1.col-xs-12
      div.dl-row.pull-left.text-right.col-xs-6
        h5 windows client
      div.dl-row-right.pull-right.text-left.col-xs-6
        a(href='https://code.ethereum.org/code/ethereum-poc3-win64.zip')
          i.fa.fa-windows.fa-2x.dl-icons

    div.dl-row2.col-xs-12
      div.dl-row-left.pull-left.text-right.col-xs-6
        a(href='https://code.ethereum.org/code/AlethZero-poc3.dmg')
          i.fa.fa-apple.fa-2x.dl-icons
      div.dl-row.pull-right.text-left.col-xs-6
        h5 mac client

    div.dl-row3.col-xs-12
      div.dl-row.pull-left.text-right.col-xs-6
        h5 linux source
      div.dl-row-right.pull-right.text-left.col-xs-6
        a(href='https://code.ethereum.org/code/cpp-ethereum-0.3.8.tar.bz2')
          i.fa.fa-linux.fa-2x.dl-icons

    div.dl-row4.col-xs-12
      div.dl-row-left.pull-left.text-right.col-xs-6
        a(href='https://code.ethereum.org')
          i.fa.fa-floppy-o.fa-2x.dl-icons
      div.dl-row.pull-right.text-left.col-xs-6
        h5 build from source

//div.alert.alert-info
//  p
//  :markdown
//    new blogpost!
//    [important statement regarding the ether pre-sale](http://blog.ethereum.org/2014/02/13/important-statement-regarding-the-ether-pre-sale/)

//include twitter.html

