div#news-left.pull-left.col-xs-8
  div.news-top
    div.news-top-left.pull-left.text-left.col-xs-8
      h2 news
    div.news-top-right.pull-right.text-muted.container.text-right.col-xs-4
      ul.list-inline
         li
           a(href='https://www.facebook.com/ethereumproject',title='Facebook')
             i.fa.fa-facebook.fa-2x.news-icon
         li
           a(href='https://www.twitter.com/ethereumproject',title='Twitter')
             i.fa.fa-twitter.fa-2x.news-icon
         li
           a(href='https://plus.google.com/+EthereumOrgOfficial/posts',title='Google Plus')
             i.fa.fa-google-plus.fa-2x.news-icon
         li
           a(href='https://vimeo.com/ethereumproject',title='Vimeo')
             i.fa.fa-vimeo-square.fa-2x.news-icon
         li
           a(href='https://www.youtube.com/user/ethereumproject',title='YouTube')
             i.fa.fa-youtube-play.fa-2x.news-icon
         li
           a(href='mailto:info@ethereum.org',title='Email')
             i.fa.fa-envelope.fa-2x.news-icon

  div.news-bottom
    iframe(src='//player.vimeo.com/video/87131363?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0',width='700',height='400',frameborder='0',webkitallowfullscreen=true,mozallowfullscreen=true,allowfullscreen=true)

  
div#news-right.pull-right.col-xs-4
  h2 download
  :markdown
    Pick and download the ethereum client for your platform
  
  div.dl-box
    div.dl-row1.col-xs-12
      div.dl-row.pull-left.text-right.col-xs-6
        h5 windows client
      div.dl-row-right.pull-right.text-left.col-xs-6
        a(href='https://code.ethereum.org/code/ethereum-win64-poc2.zip')
          i.fa.fa-windows.fa-2x.dl-icons

    div.dl-row2.col-xs-12
      div.dl-row-left.pull-left.text-right.col-xs-6
        a(href='https://code.ethereum.org/code/ethereum-osx-poc2.zip')
          i.fa.fa-apple.fa-2x.dl-icons
      div.dl-row.pull-right.text-left.col-xs-6
        h5 mac client
    
    div.dl-row3.col-xs-12
      div.dl-row.pull-left.text-right.col-xs-6
        h5 linux client
      div.dl-row-right.pull-right.text-left.col-xs-6
        a(href='https://code.ethereum.org/code/cpp-ethereum-poc2.zip')
          i.fa.fa-linux.fa-2x.dl-icons

    div.dl-row4.col-xs-12
      div.dl-row-left.pull-left.text-right.col-xs-6
        a(href='https://github.com/ethereum/go-ethereum') 
          i.fa.fa-floppy-o.fa-2x.dl-icons
      div.dl-row.pull-right.text-left.col-xs-6
        h5 build from source

//div.alert.alert-info
//  p
//  :markdown
//    new blogpost!
//    [important statement regarding the ether pre-sale](http://blog.ethereum.org/2014/02/13/important-statement-regarding-the-ether-pre-sale/)

//include twitter.html

