div.container.text-muted
  ul.list-inline
    li
      a(href='https://www.facebook.com/ethereumproject')
        i.fa.fa-facebook.fa-fw
    li
      a(href='https://www.twitter.com/ethereumproject')
        i.fa.fa-twitter.fa-fw
    li
      a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
        i.fa.fa-google-plus.fa-fw
    li
      a(href='#')
        i.fa.fa-linkedin.fa-fw
    li
      a(href='#')
        i.fa.fa-vimeo-square.fa-fw
    li
      a(href='https://www.youtube.com/user/ethereumproject')
        i.fa.fa-youtube-play.fa-fw
    li
      a(href='mailto:info@ethereum.org')
        i.fa.fa-envelope.fa-fw