h2 Who?
ul#profile.list-inline
  li
    div.contact-card
      div.person-photo
        img(src='images/vitalik_buterin.jpg')
      dl
        dt.person-name Vitalik Buterin
        dd.person-title Archaic Title
      p.person-description
      ul.list-inline
        li
          a(href='https://github.com/vbuterin',title='GitHub')
            i.fa.fa-github
        li
          a(href='http://twitter.com/VitalikButerin',title='Twitter')
            i.fa.fa-twitter
        li
          a(href='https://plus.google.com/115742856189848313825',title='Google Plus')
            i.fa.fa-google-plus
        li
          a(href='http://ca.linkedin.com/pub/vitalik-buterin/50/a74/267',title='LinkedIn')
            i.fa.fa-linkedin

  li
    div.contact-card
      div.person-photo
        img(src='images/charles_hoskinson_photo.jpg')
      dl
        dt.person-name Charles Hoskinson
        dd.person-title Archaic Title
      p.person-description
      ul.list-inline
        li
          a(href='https://www.facebook.com/charles.hoskinson.5',title='Facebook')
            i.fa.fa-facebook
        li
          a(href='https://twitter.com/ethereumcharles',title='Twitter')
            i.fa.fa-twitter
        li
          a(href='https://plus.google.com/u/0/112141869130455815391/posts',title='Google Plus')
            i.fa.fa-google-plus
        li
          a(href='http://www.linkedin.com/pub/charles-hoskinson/29/983/662',title='LinkedIn')
            i.fa.fa-linkedin
        li
          a(href='pgp/hoskinson-charles.asc',title='PGP key')
            i.fa.fa-lock

  li
    div.contact-card.active
      div.person-photo
        img(src='images/Neal_Koblitz_Cryptography_Advisor.jpg')
      dl
        dt.person-name Neal Koblitz
        dd.person-title Cryptography Advisor
      ul.list-inline
        li
          a(href='//en.wikipedia.org/wiki/Neal_Koblitz',title='Wikipedia')
            i.zocial.icon.wikipedia

  li
    div.contact-card
      div.person-photo
        img(src='images/anthony-picture.jpg')
      dl
        dt.person-name Anthony Di lorio
        dd.person-title Archaic Title
      p.person-description
      ul.list-inline
        li
          a(href='https://twitter.com/diiorioanthony',title='Twitter')
            i.fa.fa-twitter
        li
          a(href='http://ca.linkedin.com/in/anthonydiiorio1',title='LinkedIn')
            i.fa.fa-linkedin

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Gavin Wood
        dd.person-title Archaic Title
      p.person-description

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Jeffrey Wilcke
        dd.person-title Archaic Title
      p.person-description

  li
    div.contact-card
      div.person-photo
        img(src='images/Mihai-Alisie.jpg')
      dl
        dt.person-name Mihai Alisie
        dd.person-title Archaic Title
      ul.list-inline
        li
          a(href='https://twitter.com/mihaialisie')
            i.fa.fa-twitter
        li
          a(href='https://plus.google.com/105214609641222028561/about')
            i.fa.fa-google-plus

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Stephan Tual
        dd.person-title Archaic Title


  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Joseph Lubin
        dd.person-title Archaic Title

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Team Member
        dd.person-title Archaic Title
      p.person-description

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Team Member
        dd.person-title Archaic Title

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Team Member
        dd.person-title Archaic Title
