h2 | Who |
ul#profile.list-inline
  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Jennifer Lei
        dd.person-title Marketing
      p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
      ul.list-inline
        li
          a(href='https://www.facebook.com/ethereumproject')
            i.fa.fa-facebook
        li
          a(href='https://www.twitter.com/ethereumproject')
            i.fa.fa-twitter
        li
          a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
            i.fa.fa-google-plus
        li
          i.fa.fa-linkedin
        li
          i.fa.fa-vimeo-square
        li
          i.fa.fa-skype
        li
          a(href='https://www.youtube.com/user/ethereumproject')
            i.fa.fa-youtube-play
        li
          a(href='mailto:info@ethereum.org')
            i.fa.fa-envelope

  li
    div.contact-card.active
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Mihai Alisie
        dd.person-title Founder
      p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
      ul.list-inline
        li
          a(href='https://www.facebook.com/ethereumproject')
            i.fa.fa-facebook
        li
          a(href='https://www.twitter.com/ethereumproject')
            i.fa.fa-twitter
        li
          a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
            i.fa.fa-google-plus
        li
          i.fa.fa-linkedin
        li
          a(href='https://www.youtube.com/user/ethereumproject')
            i.fa.fa-youtube-play

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Thomas Hans
        dd.person-title C++
      p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Lisa Nancy
        dd.person-title Frontend Designer
      p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
      ul.list-inline
        li
          a(href='https://www.facebook.com/ethereumproject')
            i.fa.fa-facebook
        li
          a(href='https://www.twitter.com/ethereumproject')
            i.fa.fa-twitter
        li
          a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
            i.fa.fa-google-plus
        li
          a(href='https://www.youtube.com/user/ethereumproject')
            i.fa.fa-youtube-play
        li
          a(href='mailto:info@ethereum.org')
            i.fa.fa-envelope

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Lisa Nancy
        dd.person-title Frontend Designer
      p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
      ul.list-inline
        li
          a(href='https://www.facebook.com/ethereumproject')
            i.fa.fa-facebook
        li
          a(href='https://www.twitter.com/ethereumproject')
            i.fa.fa-twitter
        li
          i.fa.fa-skype
        li
          a(href='https://www.youtube.com/user/ethereumproject')
            i.fa.fa-youtube-play
        li
          a(href='mailto:info@ethereum.org')
            i.fa.fa-envelope

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Lisa Nancy
        dd.person-title Frontend Designer
      ul.list-inline
        li
          a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
            i.fa.fa-google-plus
        li
          i.fa.fa-linkedin
        li
          i.fa.fa-vimeo-square
        li
          i.fa.fa-skype
        li
          a(href='mailto:info@ethereum.org')
            i.fa.fa-envelope

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Lisa Nancy
        dd.person-title Frontend Designer
        
  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Lisa Nancy
        dd.person-title Frontend Designer

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Lisa Nancy
        dd.person-title Frontend Designer

  li
    div.contact-card
      div.person-photo
        img(src='images/profile-photo-generic.png')
      dl
        dt.person-name Lisa Nancy
        dd.person-title Frontend Designer
      p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
      ul.list-inline
        li
          a(href='https://www.facebook.com/ethereumproject')
            i.fa.fa-facebook
        li
          a(href='https://www.twitter.com/ethereumproject')
            i.fa.fa-twitter
        li
          a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
            i.fa.fa-google-plus
        li
          a(href='https://www.youtube.com/user/ethereumproject')
            i.fa.fa-youtube-play
        li
          a(href='mailto:info@ethereum.org')
            i.fa.fa-envelope


