extends layout/layout

block content
  header.container
    div
      h1.logo-text ethereum
    nav.pull-right.text-right(role='navigation')
      ul.nav.navbar-nav
        li
          a(href='#what') What
        li
          a(href='#why') Why
        li
          a(href='#how') How
        li
          a(href='#who') Who
        li
          a(href='#join') Join
        li
          a(href='http://wiki.ethereum.org') Wiki
        li
          a(href='http://blog.ethereum.org') Blog
        li
          a(href='http://forum.ethereum.org') Forum

  div.jumbotron.text-center
    iframe(width='560', height='315', src='//www.youtube.com/embed/q5FDvzj8YX4?wmode=opaque', frameborder='0', allowfullscreen='')
  div.social.text-muted
    div.container
      ul.list-inline
        li
          a(href='https://www.facebook.com/ethereumproject')
            i.fa.fa-facebook.fa-fw
        li
          a(href='https://www.twitter.com/ethereumproject')
            i.fa.fa-twitter.fa-fw
        li
          a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
            i.fa.fa-google-plus.fa-fw
        li
          i.fa.fa-linkedin.fa-fw
        li
          i.fa.fa-vimeo-square.fa-fw
        li
          i.fa.fa-skype.fa-fw
        li
          a(href='https://www.youtube.com/user/ethereumproject')
            i.fa.fa-youtube-play.fa-fw
        li
          a(href='mailto:info@ethereum.org')
            i.fa.fa-envelope.fa-fw
              
  div.container
    div.row
      ul.list-inline
        li.person-card
          div
            div.person-photo
              img(src='images/profile-photo-generic.png')
            dl
              dt.person-name Jennifer Lei
              dd.person-title Marketing
            p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
            ul.list-inline
              li
                a(href='https://www.facebook.com/ethereumproject')
                  i.fa.fa-facebook
              li
                a(href='https://www.twitter.com/ethereumproject')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
                  i.fa.fa-google-plus
              li
                i.fa.fa-linkedin
              li
                i.fa.fa-vimeo-square
              li
                i.fa.fa-skype
              li
                a(href='https://www.youtube.com/user/ethereumproject')
                  i.fa.fa-youtube-play
              li
                a(href='mailto:info@ethereum.org')
                  i.fa.fa-envelope
        li.person-card.active
          div
            div.person-photo
              img(src='images/profile-photo-generic.png')
            dl
              dt.person-name Mihai Alisie
              dd.person-title Founder
            p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
            ul.list-inline
              li
                a(href='https://www.facebook.com/ethereumproject')
                  i.fa.fa-facebook
              li
                a(href='https://www.twitter.com/ethereumproject')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
                  i.fa.fa-google-plus
              li
                i.fa.fa-linkedin
              li
                i.fa.fa-vimeo-square
              li
                i.fa.fa-skype
              li
                a(href='https://www.youtube.com/user/ethereumproject')
                  i.fa.fa-youtube-play
              li
                a(href='mailto:info@ethereum.org')
                  i.fa.fa-envelope
        li.person-card
          div
            div.person-photo
              img(src='images/profile-photo-generic.png')
            dl
              dt.person-name Thomas Hans
              dd.person-title C++
            p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
            ul.list-inline
              li
                a(href='https://www.facebook.com/ethereumproject')
                  i.fa.fa-facebook
              li
                a(href='https://www.twitter.com/ethereumproject')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
                  i.fa.fa-google-plus
              li
                i.fa.fa-linkedin
              li
                i.fa.fa-vimeo-square
              li
                i.fa.fa-skype
              li
                a(href='https://www.youtube.com/user/ethereumproject')
                  i.fa.fa-youtube-play
              li
                a(href='mailto:info@ethereum.org')
                  i.fa.fa-envelope
        li.person-card
          div
            div.person-photo
              img(src='images/profile-photo-generic.png')
            dl
              dt.person-name Lisa Nancy
              dd.person-title Frontend Designer
            p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
            ul.list-inline
              li
                a(href='https://www.facebook.com/ethereumproject')
                  i.fa.fa-facebook
              li
                a(href='https://www.twitter.com/ethereumproject')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
                  i.fa.fa-google-plus
              li
                i.fa.fa-linkedin
              li
                i.fa.fa-vimeo-square
              li
                i.fa.fa-skype
              li
                a(href='https://www.youtube.com/user/ethereumproject')
                  i.fa.fa-youtube-play
              li
                a(href='mailto:info@ethereum.org')
                  i.fa.fa-envelope

