extends layout/layout

block content
  header.container
    div.logo-text
      a(href='#')
        h1 ethereum
    nav.pull-right.text-right(role='navigation')
      ul.nav.navbar-nav
        li
          a(href='#what') What
        li
          a(href='#why') Why
        li
          a(href='#how') How
        li
          a(href='#who') Who
        li
          a(href='#join') Join
        li
          a(href='http://wiki.ethereum.org') Wiki
        li
          a(href='http://blog.ethereum.org') Blog
        li
          a(href='http://forum.ethereum.org') Forum

  div.jumbotron.text-center
    img(height= '100', src='images/ETHER_FACET.png')
    p
    iframe(width='450', height='250', src='//www.youtube.com/embed/q5FDvzj8YX4?wmode=opaque', frameborder='0', allowfullscreen='')

  div.social.text-muted
    div.container
      ul.list-inline
        li
          a(href='https://www.facebook.com/ethereumproject')
            i.fa.fa-facebook.fa-fw
        li
          a(href='https://www.twitter.com/ethereumproject')
            i.fa.fa-twitter.fa-fw
        li
          a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
            i.fa.fa-google-plus.fa-fw
        li
          i.fa.fa-linkedin.fa-fw
        li
          i.fa.fa-vimeo-square.fa-fw
        li
          i.fa.fa-skype.fa-fw
        li
          a(href='https://www.youtube.com/user/ethereumproject')
            i.fa.fa-youtube-play.fa-fw
        li
          a(href='mailto:info@ethereum.org')
            i.fa.fa-envelope.fa-fw
              
  div.content
    div#news.text-center
      include includes/news
      
    div#what.container
      include includes/what

    div#who.container.text-center
      include includes/who

    div#why.container
      include includes/why
        
    div#how.container
      include includes/how
        
    div#join.container
      include includes/join

