extends layout/layout

block content
  header.container
    include includes/navbar

  div#feature.jumbotron.text-center
    include includes/feature

  div#social
    include includes/social
              
  div#maincontent
      
    div#news.container.text-center
      include includes/news

    div#what.container
      include includes/what

    div#why.container
      include includes/why

    div#how.container
      include includes/how

    div#who.container.text-center
      include includes/who

    div#join.container.text-center
      include includes/join

