extends layout/layout

block content
  header.container
    div.logo-text
      a(href='#')
        h1 ethereum
    nav.pull-right.text-right(role='navigation')
      ul.nav.navbar-nav
        li
          a(href='#what') What
        li
          a(href='#why') Why
        li
          a(href='#how') How
        li
          a(href='#who') Who
        li
          a(href='#join') Join
        li
          a(href='http://wiki.ethereum.org') Wiki
        li
          a(href='http://blog.ethereum.org') Blog
        li
          a(href='http://forum.ethereum.org') Forum

  div.jumbotron.text-center
    img(height= '100', src='images/ETHER_FACET.png')
    p
    iframe(width='450', height='250', src='//www.youtube.com/embed/q5FDvzj8YX4?wmode=opaque', frameborder='0', allowfullscreen='')
  div.social.text-muted
    div.container
      ul.list-inline
        li
          a(href='https://www.facebook.com/ethereumproject')
            i.fa.fa-facebook.fa-fw
        li
          a(href='https://www.twitter.com/ethereumproject')
            i.fa.fa-twitter.fa-fw
        li
          a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
            i.fa.fa-google-plus.fa-fw
        li
          i.fa.fa-linkedin.fa-fw
        li
          i.fa.fa-vimeo-square.fa-fw
        li
          i.fa.fa-skype.fa-fw
        li
          a(href='https://www.youtube.com/user/ethereumproject')
            i.fa.fa-youtube-play.fa-fw
        li
          a(href='mailto:info@ethereum.org')
            i.fa.fa-envelope.fa-fw
              
  div.content
    div#news.text-center
      p stay connected
      p the only limit is your imagination
      include includes/mailchimp
      p new blogpost: important statement regarding the ether pre-sale
      
    div#persons.container
     div#who
       h2 Who
      ul.list-inline
        li.person-card
          div
            div.person-photo
              img(src='images/profile-photo-generic.png')
            dl
              dt.person-name Jennifer Lei
              dd.person-title Marketing
            p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
            ul.list-inline
              li
                a(href='https://www.facebook.com/ethereumproject')
                  i.fa.fa-facebook
              li
                a(href='https://www.twitter.com/ethereumproject')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
                  i.fa.fa-google-plus
              li
                i.fa.fa-linkedin
              li
                i.fa.fa-vimeo-square
              li
                i.fa.fa-skype
              li
                a(href='https://www.youtube.com/user/ethereumproject')
                  i.fa.fa-youtube-play
              li
                a(href='mailto:info@ethereum.org')
                  i.fa.fa-envelope
        li.person-card.active
          div
            div.person-photo
              img(src='images/profile-photo-generic.png')
            dl
              dt.person-name Mihai Alisie
              dd.person-title Founder
            p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
            ul.list-inline
              li
                a(href='https://www.facebook.com/ethereumproject')
                  i.fa.fa-facebook
              li
                a(href='https://www.twitter.com/ethereumproject')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
                  i.fa.fa-google-plus
              li
                i.fa.fa-linkedin
              li
                i.fa.fa-vimeo-square
              li
                i.fa.fa-skype
              li
                a(href='https://www.youtube.com/user/ethereumproject')
                  i.fa.fa-youtube-play
              li
                a(href='mailto:info@ethereum.org')
                  i.fa.fa-envelope
        li.person-card
          div
            div.person-photo
              img(src='images/profile-photo-generic.png')
            dl
              dt.person-name Thomas Hans
              dd.person-title C++
            p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
            ul.list-inline
              li
                a(href='https://www.facebook.com/ethereumproject')
                  i.fa.fa-facebook
              li
                a(href='https://www.twitter.com/ethereumproject')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
                  i.fa.fa-google-plus
              li
                i.fa.fa-linkedin
              li
                i.fa.fa-vimeo-square
              li
                i.fa.fa-skype
              li
                a(href='https://www.youtube.com/user/ethereumproject')
                  i.fa.fa-youtube-play
              li
                a(href='mailto:info@ethereum.org')
                  i.fa.fa-envelope
        li.person-card
          div
            div.person-photo
              img(src='images/profile-photo-generic.png')
            dl
              dt.person-name Lisa Nancy
              dd.person-title Frontend Designer
            p.person-description Lorem ipsum or convenience, you can also connect routes directly to views or external URLs.
            ul.list-inline
              li
                a(href='https://www.facebook.com/ethereumproject')
                  i.fa.fa-facebook
              li
                a(href='https://www.twitter.com/ethereumproject')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
                  i.fa.fa-google-plus
              li
                i.fa.fa-linkedin
              li
                i.fa.fa-vimeo-square
              li
                i.fa.fa-skype
              li
                a(href='https://www.youtube.com/user/ethereumproject')
                  i.fa.fa-youtube-play
              li
                a(href='mailto:info@ethereum.org')
                  i.fa.fa-envelope

    div#what.container
      h2 What
      :markdown
        Ethereum is a next-generation distributed cryptographic ledger that is designed to allow users to encode advanced transaction types, smart contracts and decentralized applications into the blockchain. Ethereum will support custom currencies or "colored coins", financial derivatives, and much more, but unlike many previous networks that attempted to accomplish the same thing Ethereum does not attempt to constrain users into using specific "features"; instead, the ledger includes a built-in Turing-complete programming language that can be used to construct any kind of contract that can be mathematically defined.

        To find out more about how Ethereum works, read [the technical whitepaper on GitHub](https://github.com/ethereum/wiki/wiki/%5BEnglish%5D-White-Paper).

    div#why.container
      h2 Why
      :markdown
        When the grand experiment that is bitcoin began, the anonymous wizard desired to test two parameters- a trustless, decentralized database enjoying security enforced by the austere relentlessness of cryptography and a robust transaction system capable of sending value across the world without intermediaries. Yet the past five years years have painfully demonstrated a third missing feature: a sufficiently powerful Turing-complete scripting language.

        Up until this point, most innovation in advanced applications such as domain and identity registration, user-issued currencies, smart property, smart contracts, and decentralized exchange has been highly fragmented, and implementing any of these technologies has required creating an entire meta-protocol layer or even a specialized blockchain. Theoretically, however, each and every one of these innovations and more can potentially be made hundreds of times easier to implement, and easier to scale, if only there was a stronger foundational layer with a powerful scripting language for all of these protocols to build upon. And this need is what we seek to satisfy.
        
    div#how.container
      h2 How
      :markdown
        Contracts are the main building block of Ethereum. A contract is like a computer program that lives inside the Ethereum network and has its own ether balance, memory and code. Every time you send a transaction to a contract, the contract executes its code, which can store data, send transactions and even interact with other contracts. You can use contracts to issue currencies, construct your own escrow contracts or financial derivatives, and even create on-blockchain data stores. Thanks to Turing-completeness, Ethereum contracts let you create self-enforcing smart contracts with any conditions that can be mathematically defined. You can find out more in [the whitepaper](https://github.com/ethereum/wiki/wiki/%5BEnglish%5D-White-Paper).
        
    div#who.container
      h2 Who
        
    div#join.container
      h2 Join


