extends layout/layout

block content
  header
    div#logo
    nav(role='navigation')
      ul.nav.navbar-nav
        li
          a(href='#what') What
        li
          a(href='#why') Why
        li
          a(href='#how') How
        li
          a(href='#who') Who
        li
          a(href='#join') Join
        li
          a(href='http://wiki.ethereum.org') Wiki
        li
          a(href='http://blog.ethereum.org') Blog
        li
          a(href='http://forum.ethereum.org') Forum

  div.jumbotron
    iframe(width='560', height='315', src='//www.youtube.com/embed/q5FDvzj8YX4?wmode=opaque', frameborder='0', allowfullscreen='')
  div.row.social
    div.col-md-12
      ul.list-inline
        li
          a(href='https://www.facebook.com/ethereumproject')
            i.fa.fa-facebook
        li
          a(href='https://www.twitter.com/ethereumproject')
            i.fa.fa-twitter
        li
          a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
            i.fa.fa-google-plus
        li
          i.fa.fa-linkedin
        li
          i.fa.fa-vimeo-square
        li
          i.fa.fa-skype
        li
          a(href='https://www.youtube.com/user/ethereumproject')
            i.fa.fa-youtube-play
        li
          a(href='mailto:info@ethereum.org')
            i.fa.fa-envelope
              
  div.container
    div.row
      div.col-md-12
        p This is test content!
