extends layout/layout

block content
  header.container
    div.logo-text
      a(href='/')
        h1 ethereum
    include includes/navbar

  div.jumbotron.text-center
    img(height= '100', src='images/ETHER_FACET.png')
    p
    iframe(width='450', height='250', src='//www.youtube.com/embed/q5FDvzj8YX4?wmode=opaque', frameborder='0', allowfullscreen='')

  div#social.text-muted
    div.container
      ul.list-inline
        li
          a(href='https://www.facebook.com/ethereumproject')
            i.fa.fa-facebook.fa-fw
        li
          a(href='https://www.twitter.com/ethereumproject')
            i.fa.fa-twitter.fa-fw
        li
          a(href='https://plus.google.com/+EthereumOrgOfficial/posts')
            i.fa.fa-google-plus.fa-fw
        li
          a(href='#')
            i.fa.fa-linkedin.fa-fw
        li
          a(href='#')
            i.fa.fa-vimeo-square.fa-fw
        li
          a(href='https://www.youtube.com/user/ethereumproject')
            i.fa.fa-youtube-play.fa-fw
        li
          a(href='mailto:info@ethereum.org')
            i.fa.fa-envelope.fa-fw
              
  div.content
      
    div#news.container.text-center
      include includes/news

    div#what.container
      include includes/what

    div#why.container
      include includes/why

    div#how.container
      include includes/how

    div#who.container.text-center
      include includes/who

    div#join.container.text-center
      include includes/join

