* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body { 
  background: rgba(39, 50, 63, 0.9) url('/images/ftw.jpg') no-repeat center center fixed; 
  color:#f3f4f3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
 }

h1 {
  font-size:34px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
}

.zoom {
  background-size: 125%;
}

.packery {
  margin: 20px;
  background: none;
  max-width: 100%;

}
.equalmargin {
  margin:0 auto;
  max-width: 1000px;
}

/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}

.item {
  width: 50px;
  height: 50px;
  float: left;
  background-color: rgba(243, 244, 243, 0.1);
  padding: 10px;
  border-radius:2px;
  border:1px solid rgba(243, 244, 243, 0.3);
  margin:0;
}

.item:hover.draggable > .movehandle {
  cursor: move;
}

.item.w2 { width:  100px; }
.item.h2 { height: 100px; }
.item.h4 { height: 225px; }
.item.w4 { width:  225px; }
.item.h6 { height:  325px; }
.item.w6 { width:  325px; }
.item.h8 { height: 465px; }
.item.w8 { width:  465px; }
.item.h12 { height: 705px; }
.item.w12 { width:  705px; }
.item.h16 { height: 950px; }
.item.w16 { width:  950px; }

.item.is-dragging,
.item.is-positioning-post-drag {
  border-color: white;
  background: #09F;
  z-index: 2;
}

.item.gigante {
  width: 98.5%;
}

img {
  max-height: 100%;
  max-width: 100%;
}
.parallax {
  position: absolute;
  width: 100%;
  height: 1090px;
  overflow: hidden;
  left: 0;
}
.water {
  position: absolute;
  width: 100%;
  height: 1090px;
  left:0;
  background-repeat: no-repeat;
  background-position: top center;
}

/* .water-layer2 {
  background-image: url(/images/water-layer-2.png);
}
.water-layer3 {
  background-image: url(/images/water-layer-3.png);
}
 .water-layer4 {
  background-image: url(/images/water-layer-4.png);
} */

.draggable {
  border-style: dashed;
}

.morecontent {
  border-width: 4px;
}

.stamp {
  position: absolute;
  left: 10%;
  top: 240px;
  width: 80%;
  height: 200px;
  background: red;
}

.stamped {
  background-color: blue;
}

.movehandle {
  background-color: transparent;
  background-image: url('/images/fix-button.png');
  border-radius: 0;
  color: #EEEEEE;
  float: right;
  position: absolute;
  right: 1px;
  top: 1px;
  vertical-align: top;
  font-size:12pt;
  width:20px;
  height:20px;
}

.expandhandle {
  background-color: transparent;
  background-image: url('/images/open-button.png');
  border-radius: 0;
  color: #EEEEEE;
  float: right;
  position: absolute;
  right: 1px;
  bottom: 1px;
  vertical-align: top;
  font-size:12pt;
  width:20px;
  height:20px;
}

.nopadding {
  padding:0;
}
