body {
  color:#333;
  font-family:RobotoLight;
}

.container {
padding-top:10px;
}

.jumbotron {
  background: rgba(255, 255, 255, 0.9) url('/images/jumbotron-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
}

a {
color: #333;
}

.logo-text {
  
}

.navbar-nav {
  color: #333;
  text-transform:uppercase;
}

.social {
border-top: 1px solid #a0aef0;
border-bottom: 1px solid #a0aef0;
}

.person-card {
width:22%;
padding:15px important!;
margin:10px;
text-align:center;
}
