body {
  color:#333;
  font-family:RobotoLight;
}

header {
  padding-top: 10px;
}
/*.container {
padding-top:10px;
}
*/
.jumbotron {
  background: rgba(255, 255, 255, 0.9) url('/images/jumbotron-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
}

a {
color: #333;
}

.logo-text {
  float: left;
  display: inline-block;
  letter-spacing: 0.3ex;
  margin-top: auto;
}

.navbar-nav {
  color: #333;
  text-transform:uppercase;
}

.social {
border-top: 1px solid #a0aef0;
border-bottom: 1px solid #a0aef0;
}

.person-card {
width:22%;
padding:15px;
margin:10px;
text-align:center;
}

.active {
background-color:#91a0f1;
color:#fff;
}

.person-photo {

}

.list-inline > li:first-child {
padding-left:15px;
}

img {
    width: 100%;
    height: auto;
    max-width: 50%;
    border-radius:50%;
    border:3px solid white;
}
