body {
  color: #333;
  font-family: RobotoLight;
}


h1, h2, h3, h4, h5, h6 {
  text-transform:lowercase;
}

h2 {
  text-align: center;
}

div.content > div {
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
}

a {
  color: #333;
  text-decoration: underline;
}

.content {
  background: #f5f5f5
}

.jumbotron {
  background: #f5f5f5 url('/images/jumbotron-background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  padding-bottom:45px;
  padding-top:15px;  
}

.logo-text {
  float: left;
  display: inline-block;
  margin-top: -10px;
}

.logo-text > a:hover, .logo-text > a:link {
  color: #333;
  text-decoration: none;
}

.logo-text h1 {
  letter-spacing: 0.3ex;
  color:#787878;
  font-family:RobotoRegular;
}

.navbar-nav {
  color: #333;
  text-transform: lowercase;
}

.navbar-nav > li > a {
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: none;
}

#social {
  border-top: 1px solid #a0aef0;
  border-bottom: 1px solid #a0aef0;
  padding-top:10px;
}

.person-card {
  padding: 15px;
  margin: 10px;
  text-align: center;
}

.person-name {
  margin-top: 10px;
}


.active {
  background-color: #91a0f1;
  color: #fff !important;
}

.list-inline > li:first-child {
  padding-left: 15px;
}

.person-card {
  width: 150px;
}
.person-card img {
  width: 100%;
  height: auto;
  max-width: 50%;
  border-radius:50%;
  border:3px solid white;
}

#mc-embedded-subscribe {
  padding:8px 10px;
  border-radius:0;
  margin-bottom:10px;
  background-color:#91A0F1;
  border:1px solid #91A0F1;
  color:white;
}

#mce-EMAIL {
  padding:8px 10px;
  border-radius:0;
  margin-bottom:10px;
  border:1px solid #91A0F1;
  margin-right:5px;
}

.alert-info {
  background-image: none;
  border-color: #a0aef0;
  background-color: #fff;
  border-radius: 0;
}
